.home{
background-image: url('../Images/bg.jpg');
position: relative;
}

.sidenavbar{
    position: fixed;
    z-index: 111111111;
    
  
   

}
.navcont{
    width:0;
  
   
}
.navcont i{
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;

}
ul{
    list-style: none;
    text-align: center;
}
ul li{
    transition: .6s;
    cursor: pointer;
}
ul li:hover{
    color: tan;
}

.overlay{
    position: absolute;
    background-color: rgba(36, 35, 35, 0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.timer{
    background-image: url(../Images/header-bg.jpg);
    padding:30px 0;
    position: relative;
}
/* .contnt{
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    background-color: rgba(80, 10, 6, .2);
    width: 100%;
} */
/* .contnt{
    display:flex;
    justify-content: space-between;
} */

/* .contnt span{
    border:1px solid red;
    padding: 15px 30px;
    font-size: 32px;

} */
.menue h3{
    cursor: pointer;
}
.social i{
 cursor: pointer;
    border: 1px solid #ddd;
    padding:13px 20px;
    transition: .4s;
}

.social i:hover{
    background-color: tomato;
}